@import "./remedies";

@font-face {
  font-family: "fliqlo_sansregular";
  src: url("../fonts/fliqlosans-webfont.woff2") format("woff2"),
    url("../fonts/fliqlosans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "altebold";
  src: url("../fonts/altehaasgroteskbold-webfont.woff2") format("woff2"),
    url("../fonts/altehaasgroteskbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alte";
  src: url("../fonts/altehaasgroteskregular-webfont.woff2") format("woff2"),
    url("../fonts/altehaasgroteskregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#time {
  font-family: fliqlo_sansregular, sans-serif;
}
#weather {
  font-family: alte, sans-serif;
}
.temp {
  font-family: fliqlo_sansregular, sans-serif;
  letter-spacing: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
img {
  width: 208px;
  height: auto;
  filter: invert(1);
}
sup {
  font-size: 50%;
}
#app {
  // border: 1px dotted orangered;
  width: 1280px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
#time {
  font-size: 510px;
  margin-bottom: auto;
  line-height: 1;
  padding-top: 90px;
  letter-spacing: 16px;
}
#weather {
  font-size: 46px;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .temp {
    font-size: 160px;
    font-weight: 500;
  }
  .summary {
    font-weight: 300;
    margin-left: auto;
    margin-right: 20px;
    text-transform: uppercase;
  }
}

#line {
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 325px;
  transform: translate(-50%, -50%);
  display: none;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
